# openai; python_version>"3.6"
# requests; python_version>"3.6"
# charset-normalizer; python_version>"3.6"
# idna; python_version>"3.6"
# certifi; python_version>"3.6"
# typing-extensions; python_version>"3.6"
bcrypt==4.1.1
# boto3
cryptography==41.0.7
# requests
# pandas
# mysql-connector-python
# pymysql
# python-dotenv
